# 심부름 가는 길

In [1]:
times = [int(input()) for _ in range(4)]

print(sum(times)//60)
print(sum(times)%60)

3
43

# Next in line

In [2]:
children = [int(input()) for _ in range(2)]

children[1] += children[1] - children[0]

print(children[1])

18

# 등록

In [3]:
print(39)
print("notzzing")

123
Your_ICPC_Team_Name

# Plane

In [4]:
n1, k1, n2, k2 = map(int, input().split())

print(n1*k1 + n2*k2)

70

# Julka

In [6]:
apples = int(input())
moreKlaudia = int(input())

natalia = (apples - moreKlaudia) // 2
klaudia = natalia + moreKlaudia

print(klaudia)
print(natalia)

6
4

# Zadanie próbne 2

In [7]:
n = int(input())

min_cnt = (n + 1) * 2
max_cnt = (n + 1) * 3

print(min_cnt, max_cnt)

12 18

# 스타워즈 로고

In [8]:
print("    8888888888  888    88888")
print("   88     88   88 88   88  88")
print("    8888  88  88   88  88888")
print("       88 88 888888888 88   88")
print("88888888  88 88     88 88    888888")
print()
print("88  88  88   888    88888    888888")
print("88  88  88  88 88   88  88  88")
print("88 8888 88 88   88  88888    8888")
print(" 888  888 888888888 88  88      88")
print("  88  88  88     88 88   88888888")

    8888888888  888    88888
   88     88   88 88   88  88
    8888  88  88   88  88888
       88 88 888888888 88   88
88888888  88 88     88 88    888888

88  88  88   888    88888    888888
88  88  88  88 88   88  88  88
88 8888 88 88   88  88888    8888
 888  888 888888888 88  88      88
  88  88  88     88 88   88888888

# 나부 함대 데이터

In [9]:
print("SHIP NAME      CLASS          DEPLOYMENT IN SERVICE")
print("N2 Bomber      Heavy Fighter  Limited    21        ")
print("J-Type 327     Light Combat   Unlimited  1         ")
print("NX Cruiser     Medium Fighter Limited    18        ")
print("N1 Starfighter Medium Fighter Unlimited  25        ")
print("Royal Cruiser  Light Combat   Limited    4         ")

SHIP NAME      CLASS          DEPLOYMENT IN SERVICE
N2 Bomber      Heavy Fighter  Limited    21
J-Type 327     Light Combat   Unlimited  1
NX Cruiser     Medium Fighter Limited    18
N1 Starfighter Medium Fighter Unlimited  25
Royal Cruiser  Light Combat   Limited    4

# NFC West vs North

In [10]:
print("NFC West       W   L  T")
print("-----------------------")
print("Seattle        13  3  0")
print("San Francisco  12  4  0")
print("Arizona        10  6  0")
print("St. Louis      7   9  0\n")
print("NFC North      W   L  T")
print("-----------------------")
print("Green Bay      8   7  1")
print("Chicago        8   8  0")
print("Detroit        7   9  0")
print("Minnesota      5  10  1")

NFC West       W   L  T
-----------------------
Seattle        13  3  0
San Francisco  12  4  0
Arizona        10  6  0
St. Louis      7   9  0

NFC North      W   L  T
-----------------------
Green Bay      8   7  1
Chicago        8   8  0
Detroit        7   9  0
Minnesota      5  10  1

# 오늘 날짜

In [11]:
import datetime
print(datetime.datetime.now().strftime("%Y-%m-%d"))

2022-04-04

# 큰 수 A+B

In [12]:
a, b = map(int, input().split())
print(a+b)

18446744073709551615

# ??!

In [13]:
exist_id = input()
print(exist_id + "??!")

joonas??!

# 한글

In [32]:
# utf-8에서 한글은 44032부터

print(chr(44031 + int(input())))

힣

# 한글 2

In [34]:
print(ord(input()) - 44031)

11172

# 꼬마 정민

In [35]:
a, b, c = map(int, input().split())
print(a + b + c)

7931

# 아스키 코드

In [37]:
print(ord(input()))

65