# solved.ac CLASS 1

## 두 수 비교하기

In [1]:
a, b = map(int, input().split())

if a > b:
    print(">")
elif a < b:
    print("<")
else:
    print("==")

<

## 윤년

In [4]:
year = int(input())

if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    print(1)
else:
    print(0)

0

## 별 찍기 - 1

In [5]:
n = int(input())

for i in range(1, n + 1):
    print("*" * i)

*
**
***
****
*****

## 별 찍기 - 2

In [11]:
n = int(input())

for i in range(1, n + 1):
    print(("*" * i).rjust(n))

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

## 구구단

In [12]:
n = int(input())

for i in range(1, 10):
    print(f'{n} * {i} = {n * i}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

## N 찍기

In [13]:
for i in range(1, int(input())+1):
    print(i)

1
2
3
4
5

## 기찍 N

In [14]:
for i in range(int(input()), 0, -1):
    print(i)

5
4
3
2
1

## 알람 시계

In [97]:
h, m = map(int, input().split())

if m < 45:
    h -= 1
    m = 60 - (45 - m)
    if h < 0:
        h = 23
    print(h, m)
else:
    print(h, m - 45)

23 38

In [98]:
a,b=map(int,input().split())
print((a-(b<45))%24,(b-45)%60)

22 37